html, body, #app, #app {
  height: 100% !important;
}

body{
  overflow: hidden; /* Hide scrollbars */
}

#main-section {
  height: 100% !important;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.text-center {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-size: 4em;
  font-weight: 400;
  margin: 0 0 .2em 0;
}

#iframe {
  border: 0;
  width: 90%;
  height: 2.5em;
  margin: auto;
  max-width: 35em;
  border: 1px solid #666;
  color: #000;
}

#top-banner{
  width: 100%;
  padding: 0em 0 1em 0;
  margin-top: 0;
}

#links{
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 3em;
}

#links img{
  margin-left: 2em;
}

.logo-bg{
  width: 7em;
}

.logo-sm{
  width: 3em;
}

.coming-soon{
  opacity: 0.15;
  cursor: not-allowed;
}

.media-container{}
.shop-container{}

span.MuiButton-label {
  font-family: 'Amatic SC', 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

@media (max-width: 449px) {
  h1{
    font-size: 3.2em;
    margin: .3em 0 .4em 0;
  }
  #iframe {
    width: 94%;
  }
  .App-logo {
    height: 80vmin;
    margin-top: 2em;
  }

  #links img{
    margin-left: 1.2em;
  }

  .logo-bg{
    width: 5em;
  }
  
  .logo-sm{
    width: 2.5em;
  }
  
}

@media only screen and (max-width : 738px) {
  #navigation {
    margin-top: 1em;
  }
  #navigation button {
    margin-top: .8em;
    margin-left: 0;
    font-size: 1em;
  }
  #links {
    width: 86%;
    margin: auto;
    margin-top: 1em;
  }
  .App-logo {
    margin-top: .5em;
    height: 70vmin;
  }
}

.SprdMain .sprd-cookie-banner {
  display: none;
}
