@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

html{
    /*background-color: #00b8be;*/
    background-color: #333;
}

h1, h2, h3, h4, h5,
span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1,
#countdown,
p
{
    font-family: 'Amatic SC', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 900;
}

span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
    font-size: 1.5em;
    font-weight: 900
}

#header {
    font-weight: 900;
    letter-spacing: .12em;
    margin: .3em 0 0 0;
    text-align: center;
}

.App-logo {
    pointer-events: none;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.social-icon-nomargin {
    color: #fff;
    font-weight: bold;
}

.social-icon {
    color: #fff;
    margin-left: 2.2em;
    font-weight: bold;
}
.topper {
    background-color: #ae39df;
    text-align: center;
    padding: .5em 0;
    font-size: .85em;
    font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 5s linear;
        max-height: 50vh;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mycontainer {
    width: 100%;
}

#countdown {
    font-size: 3.5em;
    line-height: 1.1em;
    font-weight: 900;
    color: #fff;
}

#interval{
    font-weight: 400;
    font-size: .9em;
}

#CTA-button {
    margin-top: 3em;
    font-weight: 900;
    padding: .5em 0;
    max-width: 600px;
    font-family: 'Amatic SC', 'Helvetica Neue', sans-serif;
    font-size: 2em;
}

@media only screen and (max-width : 449px) {
    #countdown {
        font-size: 2.5em;
    }
    #header {
        font-size: 3em;
    }

    #interval {
        font-size: .75em;
    }
    #CTA-button {
        margin-top: 1em;
        font-size: 1.5em;
    }
}

@media only screen and (max-width : 738px) {}
@media only screen and (min-width : 768px) {}


  .timer {
    font-size: 3.5em;
  }

  .container2 { 
    height: 50vh;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1.1em;
    color: #fff;
    font-family: 'Amatic SC', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    text-align: center;
    width: 100%;
  }


#spotifyplayer {
    margin: auto;
    width: 100%;
    font-size: .95em;
    padding-bottom: 1em;
}

.MuiAlert-message {
    width: 100%;
    margin: auto;
}

@media (max-width: 520px) {
    .timer {
        font-size: 2.5em;
    }
    .container2 {
        /*height: 50vh;*/
        max-height: 50vh;
    }
    #spotifyplayer {
        padding-bottom: 0;
    }
}

a.social-icon-nomargin:hover,
a.social-icon:hover {
    color: #ae39df;
}

.topper {
    padding: 1em;
}

.topper a{
    color: #fff;
    padding: .5em;
}

.topper a:hover {
    color: #ae39df;
    background: #fff;
    text-decoration: none;
}

.player{
    height: 35em;
}

@media only screen and (max-width : 738px) {
    .player{
        height: 29em;
    }
}
