@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
}

.blink-on {
  -webkit-animation: background 3s ease infinite;
  animation: background 3s ease infinite;
}

.blink-off #Killswitch-Container {
  background-color: #00b8be;
}

#header{
  font-size: 4.5em;
  height: 1.2em;
}

#navigation {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

#navigation button {
  color: white;
  font-size: 1.6em;
  margin-left: 1em;
  min-width: 9.5em;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: 'Amatic SC', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

@-webkit-keyframes background {
  0% { background-color: #3498db; }
  20% { background-color: #2ecc71; }  
  40% { background-color: #f1c40f; }
  60% { background-color: #f39c12; }
  80% { background-color: #e74c3c; }
  100% { background-color: #BE90D4; }
}

@keyframes background {
  0% { background-color: #3498db; }
  20% { background-color: #2ecc71; }  
  40% { background-color: #f1c40f; }
  60% { background-color: #f39c12; }
  80% { background-color: #e74c3c; }
  100% { background-color: #BE90D4; }
}

@media only screen and (max-width : 738px) {}


#Killswitch-Container {
  height: 2.5em;
}

.mycontainer{
  position: absolute;
  top: 2.5em;
  height: 100vh;
  overflow: hidden;
  background-color: #00b8be;
}

