@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.blink-on {
  -webkit-animation: background 3s ease infinite;
  animation: background 3s ease infinite;
}

.blink-on h1{ color: #fff };

.blink-off{
  background-color: #fff;
}

.blink-off #links {
  background: #fff;
}

.blink-off h1, .blink-off span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
  color: #000;
  font-weight: normal;
  font-size: 1.2em;
}

h1{
  font-family: 'Amatic SC', 'Helvetica Neue', sans-serif;
}

#navigation {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

#navigation button {
  color: white;
  font-size: 1.6em;
  margin-left: 1em;
  min-width: 9.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Amatic SC', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.blink-on #nav button {
  color: #666;
  background: #fff;
}

@-webkit-keyframes background {
  0% { background-color: #3498db; }
  20% { background-color: #2ecc71; }  
  40% { background-color: #f1c40f; }
  60% { background-color: #f39c12; }
  80% { background-color: #e74c3c; }
  100% { background-color: #BE90D4; }
}

@keyframes background {
  0% { background-color: #3498db; }
  20% { background-color: #2ecc71; }  
  40% { background-color: #f1c40f; }
  60% { background-color: #f39c12; }
  80% { background-color: #e74c3c; }
  100% { background-color: #BE90D4; }
}

div#myShop {
  text-align: center;
  font-size: 3em;
}

@media only screen and (max-width : 738px) {
  .App-header h1 {
    font-size: 3.7em;
    margin: 0;
    font-weight: normal;;
  }

  #navigation button {
    font-size: 1.6em;
  }
  
  .sprd-basket-indicator__icon-count-wrapper {
    margin-left: .4em;
  }

}

.spotify-announcement {
  font-family: 'Amatic SC', 'Helvetica Neue', sans-serif;
  color: #333;
  font-size: 3em;
}