#Media-Component {
    margin-top: 2em;
}

#Media-Component h3{
    margin-top: .5em;
}

#Media-Component a {
    color: #f50057;
    text-decoration: none;
}

#Media-Component a:hover {
    color: #be0546;
}

.paper-list-item {
    padding: 1.3em;
    width: 100%;
    margin: auto;
    height: 7em;
    margin-bottom: 1em;
}

.paper-list-item img {
    float: left;
    margin-right: 2em;
}

.paper-list-item .logo-sm {
    width: 5em;
}

@media only screen and (max-width : 839px) {
    .paper-list-item .logo-sm {
        width: 4em;
        margin-right: 1em;
    }
    #Media-Component h3{
        font-size: 1em;
        font-weight: normal;
        margin-top: 1.2em;
    }
}
